<form action='/' method='get'>
  <input name='movie' type='text' placeholder='enter movie title' />
  <button>Search Movie</button>
</form>

<div class="content">

  <p>Title: <%= @result["Search"][0] %> </p>

</div>
<div class="aside">
  <img src= <%= @result["Poster"] %>>
</div>
