<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Movies I</title>

</head>
<body>
  <h1>SHOW ME THE MOVIES!!</h1>
    <form action='/' method='get'>
      <input name='movie' type='text' placeholder='insert movie title' />
      <button>Get Movie</button>
    </form>

   <p> <%= @result[@movie_title] %> </p>

</body>
</html>
