h1 {
  color: #6dd640;
}

/*.form {
  background-color: #6dd640;
  padding: 3%;
}*/

button {
  border: none;
  padding: 9px 30px;
  background-color: #e02702;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

input, textarea {
  padding: 5px 5px;
  margin: 5px 0;
  font-size: 12px;
  width: 150px;
}
